body{
    background-color: black;
    background-image: url(image/background2.jpg);
}
#div1 form{
    border: 30px solid white;
    border-radius: 20px;
    color: white;
    background-image: url(image/background1.jpg);
    margin: 90px 90px 90px 90px;
    text-align: center;
}
#div1 form input{
    padding: 15px 100px 15px 0px;
    text-align: center;
}
#div1 form #button1{
padding: 15px 25px 15px 25px;
background-color: rgb(65, 199, 65);
}
#div1 form #button2{
    padding: 15px 25px 15px 25px;
    background-color: rgb(192, 60, 60);
    }